<%= attachment_image_tag user, :profile_image_id, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
      <table>
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <% if current_user != user %>
        <%= link_to 'chatを始める', chat_path(user.id) %>
      <% end %>

      <div class="row">
        <p><%= link_to "", edit_user_path(user), class: "btn btn-outline-socondary btn-block fas fa-user-cog edit_user_27083" %></p>
      </div>